
label.required:after {
    content: '*';
    padding-left: 5px;
}

.label span {
    padding-right: 5px;
}
input {
    border-width: 1px;
}

.created {
    display: inline-block;
    line-height: 19px;
    font-size: 90%;
    height: 19px;
}

.block.container {
    overflow: hidden;
}

.page-header #header-container {
    width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

.add_post {
    margin-bottom: 20px;
}

#post label {
    display: block;
}

#post textarea {
    resize: none;
    width: 100%;
    height: 150px;
}

#comments {
    margin-top: 20px;
}

#comments li {
    list-style-type: none;
}

#comments li div {

}

#edit-article textarea {
    height: 150px;
    resize: vertical;
}

form {
    margin: 20px 0;
}

form div {
    margin-bottom: 15px;
}
.user {
    font-style: italic;
}

#latest-tweets .profile-image{
    width: 20px;
    height: 20px;
}

#latest-tweets .screen-name:after{
    content: '‏ · ';
}

#latest-tweets .screen-name,
#latest-tweets .date {
    color: #8899a6;
    font-size: 13px;
}
