
.label span {
    padding-right: 5px;
}
input {
    border-width: 1px;
}

.created {
    display: inline-block;
    line-height: 19px;
    font-size: 90%;
    height: 19px;
}

.block.container {
    overflow: hidden;
}

.page-header #header-container {
    width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

.add_post {
    margin-bottom: 20px;
}

#post label {
    display: block;
}

#post textarea {
    resize: none;
    width: 100%;
}

#comments {
    margin-top: 20px;
}

#comments li {
    list-style-type: none;
}

#comments li div {

}

.user {
    font-style: italic;
}
